html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #333;
  font-family: sans-serif;
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  margin: 0 0 1.5em;
  padding: 0 1em;
  line-height: 2em;
  font-size: 1em;
  display: block;
}

.slider-container {
  display: inline-block;
  width: 200px;
  padding: 3px 5px;
}

.rc-slider {
  background-color: #ddd;
}

.rc-slider-track {
  background-color: #999;
}

.rc-slider-handle {
  border-color: #888;
}

.rc-slider-handle:hover {
  border-color: #666;
}

.rc-tooltip-placement-top {
  top: 34px !important;
}

.grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.grid-item {
  font-size: 0.75rem;
  padding: 20px 15px;
  background-color: #ccc;
  border-radius: 3px;
  border: 2px solid #aaa;
}

.grid-item h3 {
  text-align: center;
}

.grid-item *:first-child {
  margin-top: 0;
}

.grid-item *:last-child {
  margin-bottom: 0;
}
