html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #333;
  font-family: sans-serif;
  padding: 1em;
  overflow-y: scroll;
}

button {
  margin: 0 0 1.5em;
  padding: 0 1em;
  line-height: 2em;
  font-size: 1em;
  display: block;
}

.grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
  padding: 20px;
  background-color: #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.6);
}
